@font-face {
    font-family: 'VazirFont';
    src: url('../fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VazirFont';
    src: url('../fonts/Vazir-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* استایل فونت وزیر */
.vazir-font{
    font-family: 'VazirFont', sans-serif;
}